@use "colors";

.button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75em 0.75em;
  margin: 0.5em 0;
  border: 1px solid colors.$color-green-700;
  border-radius: 4px;
  font-weight: 700;
  transition: all 0.3s ease;
}

.button-icon {
  margin-right: 8px;
  align-items: center;
}

.button-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-grow: 1;
}

.button-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

// .button-text {
// }

.button-subtext {
  font-size: 13px;
  line-height: normal;
  color: colors.$color-green-900;
  font-weight: 600;
  font-style: italic;
}

.button-arrow {
  margin-left: 8px;
  display: flex;
  align-items: center;
}

.button-disabled {
  cursor: not-allowed;
  border: 1px solid colors.$color-gray-400;
  text-decoration-line: line-through;
}
