@use "colors";

.panel {
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 20px;
  // overflow: hidden;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  scroll-margin-top: 5rem;
}

.panel-header {
  border-bottom: 1px solid #ddd;
}

.panel-title-container {
  flex: 1;
}

.panel-title-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: colors.$color-white;
  cursor: pointer;
}

.panel-title-row h3 {
  margin: 0;
  padding: 15px 15px;
  flex: 1;
}

.panel-subheader {
  padding: 10px 15px;
  background-color: colors.$color-gray-100;
  font-size: 15px;
  color: colors.$color-black;
}

.panel-toggle {
  background: none;
  border: none;
  padding: 0 15px;
  cursor: pointer;
  height: 48px; /* Fixed height to match the title row height */
  display: flex;
  align-items: center;
  transition: transform 0.3s;
}

.panel-toggle[aria-expanded="false"] .panel-toggle-icon {
  transform: rotate(180deg);
}

.panel-toggle[aria-expanded="false"] .panel-toggle-icon .minus-icon {
  display: none;
}

.panel-toggle[aria-expanded="true"] .panel-toggle-icon .plus-icon {
  display: none;
}

.panel-content {
  padding: 15px;
  background-color: colors.$color-white;

  &.clearfix::after {
    content: "";
    display: table;
    clear: both;
  }
}

.panel-inner-content {
  display: flow-root; /* Modern way to handle float containment */
}

.panel-inner-content h3 {
  margin-top: 0;
}

.panel-content hr {
  margin: 0.5em 0;
  border: none;
  border-top: 1px solid colors.$color-gray-300;
}

.panel .paper-title {
  font-weight: bold;
  // margin-bottom: 0.5em;
}

.panel .paper-authors {
  font-style: italic;
}

.panel .paper-badges img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
