<footer>
  <div class="container">
    <div class="footer-sponsor">
      <div class="sponsor">
        <h2>Sponsors</h2>
        <div class="sponsor-item">
          <a href="https://www.acm.org" target="_blank">
            <img src='{{ relURL "images/sponsors/acm.svg" }}' />
          </a>
          <a href="https://www.sigmobile.org/grav/" target="_blank">
            <img src='{{ relURL "images/sponsors/sigmobile.svg" }}' />
          </a>
        </div>
      </div>
      <div class="sponsor">
        <h3>Gold Sponsors</h3>
        <div class="sponsor-item">
          <a href="https://www.futurewei.com/" target="_blank">
            <img class="gold-sponsor" role="img" src='{{ relURL "images/sponsors/futurewei.svg" }}' />
          </a>
        </div>
      </div>
      <div class="sponsor">
        <h3>Silver Sponsors</h3>
        <div class="sponsor-item">
          <a href="https://www.google.com/" target="_blank">
            <img class="silver-sponsor" src='{{ relURL "images/sponsors/google.png" }}' />
          </a>
        </div>
      </div>
    </div>
    <div class="footer-content">
      <div class="copyright">
        <span>&copy; 2025 ACM</span>
        <span>Header &copy;&nbsp;<a href="https://commons.wikimedia.org/wiki/File:Sleeping_Beauty_Castle_(28926763390).jpg"
          target="_blank">Wikimedia</a>,&nbsp &copy; Simple Line, lovelyday12 - stock.adobe.com</span>
      </div>
      <div class="flex flex-column justify-around items-center gap-4">
        <a href="https://github.com/mobisys2025/website-feedback/issues" target="_blank"><i
            class="bi bi-bug-fill"></i></a>
        <a href='mailto:mingyi.chen@uci.edu,zhibowang@zju.edu.cn'><i class="bi bi-envelope-paper-fill"></i></a>
      </div>
    </div>
  </div>
</footer>