<header style="margin-bottom: 0px;">
    <container style="background-color: rgba(74, 89, 104, 0.418); background-clip: content-box; padding: 1em 0">
        <h1 class="logo">
            <span class="acm">ACM</span>
            <span class="icon-mobisys2025"></span>
        </h1>
        <h2>The 23rd ACM International Conference on Mobile Systems, Applications, and Services</h2>
        <h3>
            <span class="date">June 23 - June 27, 2025</span>
            <span class="bullet-point"> • </span>
            <span class="location">Anaheim, California, US</span>
        </h3>
        <style>
            @media (max-width: 768px) {
                .bullet-point { display: none; }
                .date, .location { display: block; }
            }
        </style>
    </container>
</header>