<head>
	<title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Site.Title }} - {{ .Title }}{{ end }}</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="title" content="{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Site.Title }} - {{ .Title }}{{ end }}" />
	<meta name="keyword" content="mobisys25,mobisys2025,mobisys'2025,mobisys'25" />
	<meta http-equiv="Cache-control" content="no-store" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
	<link rel="icon" href='/mobisys/2025/favicon.ico' />
	<link rel="stylesheet" href='{{ relURL "css/normalize.css" }}' />
	<link rel="stylesheet" href='{{ relURL "css/main.css" }}'>
	<link rel="stylesheet" href='{{ relURL "css/icomoon/style.css" }}' />
	<link rel="stylesheet" href='{{ relURL "css/style.css" }}' />
</head>