{{ $currentPage := . }}
<nav>
  <div class="container">
    <input type="checkbox" id="hamburger" />
    <label for="hamburger"></label>
    <p class="navbar-title">ACM MobiSys 2025</p>
    <ul class="navbar-nav">
      {{ range .Site.Menus.main }}
        <li class="nav-item">
          {{ if .HasChildren }}
            <a href="{{ .URL }}">
              {{ .Name }}
              <span></span>
            </a>
            <ul class="dropdown-menu">
              {{ range .Children }}
                <li class="dropdown-item">
                  <a href="{{ .URL }}">{{ .Name | safeHTML }}</a>
                </li>
              {{ end }}
            </ul>
          {{ else }}
            <a href="{{ .URL }}">{{ .Name | safeHTML }}</a>
          {{ end }}
        </li>
      {{ end }}
    </ul>
  </div>
</nav>