{{if not (.Get "disabled") }}
<a href='{{ .Get "link" | default "#" }}' target="_blank">
  {{end}}
  <div class='button {{if .Get "disabled"}}button-disabled{{end}}'>
    <div>
      {{- if .Get "icon" -}}
      <span class="button-icon">
        {{ if eq (.Get "icon") "article" }}
        <i class="bi bi-file-text-fill"></i>
        {{ else if eq (.Get "icon") "mentor" }}
        <i class="bi bi-person-raised-hand"></i>
        {{ else if eq (.Get "icon") "cash" }}
        <i class="bi bi-cash-coin"></i>
        {{ else if eq (.Get "icon") "exclamation" }}
        <i class="bi bi-exclamation-diamond-fill"></i>
        {{ else }}
        {{ warnf "Unknown icon: %s" (.Get "icon") }}
        {{ end }}
      </span>
      {{- end -}}
      <span class="button-text">{{ .Get "text" | default "Button" }}</span>
    </div>
    <span class="button-arrow">
      <i class="bi bi-chevron-right"></i>
    </span>
  </div>
  {{if not (.Get "disabled") }}
</a>
{{end}}