{{ $json := .Get 0 }}
{{ $resource := resources.Get $json }}
{{ $data := $resource | transform.Unmarshal }}

{{ range $group := $data }}
<h3>{{ $group.chairs | safeHTML }}</h3>

<table class="table table-striped table-bordered table-fixed">
    <tbody>
        <tr>
            {{ range $group.members }}
            <td class="profile">
                {{ if .image }}
                <img src="../images/profiles/{{ .image }}" alt="{{ .name }}">
                {{ end }}
            </td>
            {{ end }}
        </tr>
        <tr>
            {{ range $group.members }}
            <td><strong>{{ .name }}</strong> {{ if .region }}<span class="button">{{ .region }}</a></span> {{ end }}</td>
            {{ end }}
        </tr>
        <tr>
            {{ range $group.members }}
            <td><a href="mailto:{{ .contact }}">{{ .contact }}</a></td>
            {{ end }}
        </tr>
        <tr>
            {{ range $group.members }}
            <td>{{ .affiliation }}</td>
            {{ end }}
        </tr>
    </tbody>
</table>
{{ end }}