{{ $json := .Get 0 }}
{{ $resource := resources.Get $json }}
{{ $data := $resource | transform.Unmarshal }}

{{ range $group := $data }}
<h3>{{ $group.chairs | safeHTML }}</h3>

<table class="table table-striped table-bordered table-fixed table-responsive-profile">
    <tbody>
        {{ range $group.members }}
        <td class="member-group">
            <div class="profile">
                {{ if .image }}
                <img src="../images/profiles/{{ .image }}" alt="{{ .name }}">
                {{ end }}
            </div>
            <div>
                <strong>{{ .name }}</strong> {{ if .region }}<span class="badge">{{ .region }}</span>{{ end }}
            </div>
            <div>
                <a href="mailto:{{ .contact }}">{{ .contact }}</a>
            </div>
            <div>{{ .affiliation }}</div>
        </td>
        {{ end }}
    </tbody>
</table>
{{ end }}