{{ $csv := .Get 0 }}
{{ $separator := .Get 1 | default "," }}

{{ $resource := resources.Get $csv }}
{{ $data := $resource | transform.Unmarshal (dict "delimiter" $separator) }}

<div class="resize">
    <table>
        <tbody>
            {{ range $row := $data }}
            {{ $isDue := and (gt (len $row) 2) (eq (index $row 2) "due") }}
            <tr{{ if $isDue }} class="due"{{ end }}>
                {{ range $index, $cell := $row }}
                {{ if eq $index 0 }}
                    <td><strong>{{ . }}</strong></td>
                {{ else if ne $index 2 }}
                    <td>{{ . }}</td>
                {{ end }}
                {{ end }}
            </tr>
            {{ end }}
        </tbody>
    </table>
</div>

<style>
.resize table {
    width: 100%;
    table-layout: auto;
}

.resize table td {
    white-space: nowrap;
    padding-right: 1em;
    min-width: 120px;
}

.resize table td:last-child {
    width: 100%;
    white-space: normal;
}

@media screen and (max-width: 640px) {
    .resize table, .resize tbody, .resize tr, .resize td {
        display: block;
        width: 100%;
    }
    
    .resize tr {
        margin-bottom: 0.5em;
        padding-bottom: 0em;
    }
    
    .resize td {
        white-space: normal;
        padding: 0.2em 0;
    }
}
</style>
