{{ $header := .Get "header" | default "Title: To Be Determined" }}
{{ $subheader := .Get "subheader" | default "" }}
{{ $id := .Get "id" | default $header }}
{{ $open := .Get "open" | default "true" }}
{{ $data := .Get "data" | default "" }}

{{ if $data }}
{{ $resource := resources.Get $data }}
{{ $jsonData := $resource | transform.Unmarshal }}

{{ range $day, $sessions := $jsonData }}
<h2>{{ $day }}</h2>
{{ range $session := $sessions }}
<div class="timeline-wrapper">
  <div class="timeline-item">
    <div class="timeline-item-time">{{ $session.time }}</div>
    {{ if $session.location }}
    <div class="timeline-item-location"><i class="bi bi-geo-fill"></i> {{ $session.location }}</div>
    {{ end }}
    <div class="timeline-item-content">
      <div class="timeline-item-body">
        {{ if $session.papers }}
        <div class="panel" id="{{ anchorize $session.title }}">
          <div class="panel-header">
            <div class="panel-title-container">
              <div class="panel-title-row">
                <h3>{{ $session.title }}</h3>
                <button class="panel-toggle" aria-expanded="{{ $open }}"
                  aria-controls="panel-{{ anchorize $session.title }}">
                  <span class="panel-toggle-icon">
                    <i class="bi bi-plus-lg plus-icon"></i>
                    <i class="bi bi-dash-lg minus-icon"></i>
                  </span>
                </button>
              </div>
              {{ if $session.chair }}
              <div class="panel-subheader"><strong>Session Chair: </strong>{{ $session.chair }}</div>
              {{ end }}
            </div>
          </div>
          <div id="panel-{{ anchorize $session.title }}" class="panel-content" {{ if ne $open "true" }} style="display: none;" {{ end }}>
            {{ range $index, $paper := $session.papers }}
            <div class="paper">
              <div class="paper-title">
                {{ if $paper.doi }}
                <a href="https://doi.org/{{ $paper.doi }}" target="_blank">{{ $paper.title }}</a>
                {{ else }}
                {{ $paper.title }}
                {{ end }}
              </div>
              <div class="paper-authors">{{ $paper.authors }}</div>
              <div class="paper-info">
                {{ if $paper.teaser}}
                  <div class="paper-teaser">
                    <i class="bi bi-youtube"></i>
                    <a href="{{ $paper.teaser }}" target="_blank">Teaser</a>
                  </div>
                {{ end }}
                {{ if $paper.artifact }}
                  <div class="paper-artifact">
                    <img src="https://www.acm.org/binaries/content/gallery/acm/publications/replication-badges/artifacts_available_dl.jpg" alt="Artifacts Available Badge" />
                    <a href="{{ $paper.artifact }}" target="_blank">Artifacts Available</a>
                  </div>
                {{ end }}
                {{ if $paper.artifact_functional}}
                  <div class="paper-artifact">
                    <img src="https://www.acm.org/binaries/content/gallery/acm/publications/large-replication-badges/artifacts_evaluated_functional.jpg" alt="Artifacts Evaluated Functional Badge" />
                    <em>Artifacts Evaluated - Functional</em>
                  </div>
                {{ end }}
                {{ if $paper.artifact_reusable }}
                  <div class="paper-artifact">
                    <img src="https://www.acm.org/binaries/content/gallery/acm/publications/large-replication-badges/artifacts_evaluated_reusable.jpg" alt="Artifacts Evaluated Reusable Badge" />
                    <em>Artifacts Evaluated - Reusable</em>
                  </div>
                {{ end }}
                {{ if $paper.artifact_replicated }}
                  <div class="paper-artifact">
                    <img src="https://www.acm.org/binaries/content/gallery/acm/publications/replication-badges/results_replicated_dl.jpg" alt="Results Replicated Badge" />
                    <em>Artifacts Evaluated - Replicated</em>
                  </div>
                {{ end }}
              </div>
            </div>
            {{ if ne $index (sub (len $session.papers) 1) }}
            <hr>
            {{ end }}
            {{ end }}
          </div>
        </div>
        {{ else }}
        <h3 class="timeline-item-title">{{ $session.title }}</h3>
        {{ if $session.content }}
        <div class="timeline-item-body">{{ $session.content }}</div>
        {{ end }}
        {{ end }}
      </div>
    </div>
  </div>
</div>
{{ end }}
{{ end }}
{{ else }}
<div class="panel" id="{{ anchorize $id }}">
  <div class="panel-header">
    <div class="panel-title-container">
      <div class="panel-title-row">
        <h3>{{ $header }}</h3>
        <button class="panel-toggle" aria-expanded="{{ $open }}" aria-controls="{{ $id }}">
          <span class="panel-toggle-icon">
            <i class="bi bi-plus-lg plus-icon"></i>
            <i class="bi bi-dash-lg minus-icon"></i>
          </span>
        </button>
      </div>
      {{ if $subheader }}
      <div class="panel-subheader">{{ $subheader | safeHTML }}</div>
      {{ end }}
    </div>
  </div>
  <div class="panel-content clearfix" {{ if ne $open "true" }}style="display: none;" {{ end }}>
    <div class="panel-inner-content">
      {{ .Inner | safeHTML }}
    </div>
  </div>
</div>
{{ end }}