<table class="styled-table">
  <thead>
    <tr>
      <th style="width: 30%;">Sponsorship level</th>
      <th style="width: 70%;">Perks</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Platinum ($20k)</td>
      <td>
        <ul>
          <li>Named best poster or demo award</li>
          <li>Named coffee break</li>
          <li>Company-provided banner in the entrance area to the conference site</li>
          <li>Large exhibit space in the conference lobby</li>
          <li>Logo or name visibility (web, print, email, on-site)</li>
          <li>May supply giveaways or swags</li>
          <li>6 conference registrations included</li>
          <li>Acknowledgement during opening and closing remarks</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>Gold ($10k)</td>
      <td>
        <ul>
          <li>Named coffee break</li>
          <li>Medium exhibit space in the conference lobby</li>
          <li>Logo or name visibility (web, print, email, on-site)</li>
          <li>May supply giveaways or swags</li>
          <li>3 conference registrations included</li>
          <li>Acknowledgement during opening and closing remarks</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>Silver ($5k)</td>
      <td>
        <ul>
          <li>Small exhibit space in the conference lobby</li>
          <li>Logo or name visibility (web, print, email, on-site)</li>
          <li>May supply giveaways or swags</li>
          <li>2 conference registrations included</li>
          <li>Acknowledgement during opening and closing remarks</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>Bronze ($3k)</td>
      <td>
        <ul>
          <li>Logo or name visibility (web, print, email, on-site)</li>
          <li>May supply giveaways or swags</li>
          <li>1 conference registration included</li>
          <li>Acknowledgement during opening and closing remarks</li>
        </ul>
      </td>
    </tr>
  </tbody>
</table>
